{% extends  'Appcoder/padre.html' %}
{%load static%}

{% block pestana %}Cursos{% endblock %}
{% block titulo %}bienvenido a Cursos{% endblock %}

{% block Contenido1  %}
<div class="row mb-6">
    <div class="col-md-6">
        <a href="javascript:void(0)" class="card">
            <img src="{%static 'Appcoder/imgs/blog-1.jpg'%}" class="card-img" alt="">
            <div class="card-body">
                <h6 class="title mb-2">Ingresar nuevo curso</h6>
                    <form action={% url 'cursos' %} method="post"> 
                    {% csrf_token %}
                    <table>
                    {{ formulario.as_table }}
                    </table>
                    <input type="submit" value="Agregar">
                    </form>
                    <h3>{{ mensaje }}</h3>
            </div>
        </a>
    </div> 

    <div class="col-md-6">
        <a href="javascript:void(0)" class="card">
            <img src="{%static 'Appcoder/imgs/blog-2.jpg'%}" class="card-img" alt="">
            <div class="card-body">
                <h6 class="card-subtitle">29 June, 2018</h6>
                <h3 class="subtitle">Cursos activos<h3/>
                <p class="mb-5"> Pronto abriremos nuevos cursos </p>
                    <ul><h6>
                        {%for curso in cursos %}
                            <li>{{ curso.nombre }}-{{ curso.comision }}</li><br>
                        {% endfor %}
                    </h6></ul>
            </div>                  
        </a>
    </div>  
</div><!-- end of row -->

<a href="#">All Posts <i class="ti-angle-double-right angle"></i></a>{% endblock %}


