<{% extends  'Appcoder/padre.html' %}
{%load static%}

{% block pestana %}Inicio{% endblock %}
{% block titulo %}bienvenido al Inicio{% endblock %}

{% block Contenido1  %}
<div class="row mb-5">
    <div class="col-md-5">
        <a href="javascript:void(0)" class="card">
            <img src="{%static 'Appcoder/imgs/img-4.jpg'%}" class="card-img" alt="">
            <div class="card-body">
                <h6 class="title mb-2 text-secomdary">Ingresar nuevo entregable</h6>
                <form action={% url 'entregables' %} method="post"> 
                    {% csrf_token %}
                    <table class="">
                    {{ formulario.as_table }}
                    </table>
                    <input type="submit" value="Agregar">
                </form>
                <h3>{{ mensaje }}</h3>
            </div>
        </a>
    </div> 
</div>{% endblock %}