{% extends  'Appcoder/padre.html' %}
{%load static%}

{% block pestana %}Inicio{% endblock %}
{% block titulo %}bienvenido al Inicio{% endblock %}

{% block Contenido1  %}
<div class="row mb-5">
    <div class="col-md-6">
        <a href="javascript:void(0)" class="card">
            <img src="{%static 'Appcoder/imgs/blog-1.jpg'%}" class="card-img" alt="ya estas abajo">
            <div class="card-body">
                <h6 class="title mb-2">Ingresar nuevo curso</h6>
                <p class="mb-5">    Ingrese el numero de la seccion </p>
                <form action="" class="form-group">
                    <input type="text" size="50" class="form-control" placeholder="Nombre" required>
                    <input type="number" class="form-control" placeholder="Numero de seccion"requried>
                    <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Write Something"></textarea>
                    <input type="submit" value="Send Message" class="form-control">
                </form>
            </div>
        </a>
    </div>  
    <div class="col-md-6">
        <a href="javascript:void(0)" class="card">
            <img src="{%static 'Appcoder/imgs/blog-2.jpg'%}" class="card-img" alt="">
            <div class="card-body">
                <h6 class="card-subtitle">29 June, 2018</h6>
                <h3 class="subtitle">Cursos activos<h3/>
                <p class="mb-5"> Pronto abriremos nuevos cursos </p>
                    <ul><h6>
                        {%for profesor in profesores %}
                            <li>{{ profesor.nombre }} {{profesor.apellido}}-{{ profesor.profesion }}</li><br>
                        {% endfor %}
                    </h6></ul>
            </div>                  
        </a>
    </div>  
</div><!-- end of row -->
